<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Пример стилизации селекта HTML</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" type="text/javascript" src="jquery-1.5.1.min.js"></script>
<script language="JavaScript" type="text/javascript" src="select.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('.select1').customStyle1();
});
</script>

</head>
<body>
<p align="center">
<select name="street" class="select1">
	<option value="">Опция 1</option>
	<option value="">Опция 2</option>
	<option value="">Опция 3</option>
	<option value="">Опция 4</option>
	<option value="">Опция 5</option>
	<option value="">Опция 6</option>
</select>
</p>
</body>
</html>