.list_zayav{
    clear: both;
    margin-top: 20px;
    overflow: hidden;
}
.list_zayav h2{
    font-size: 19px;
}
.list_zayav a{
    color: #454547;
}
.list_zayav div{
    position: relative;
    widows: 100%;
    /*background-color: green;*/
    padding: 7px;
    overflow: hidden;
}
.list_zayav span{
    position: absolute;
    left: 13px;
    top: -2px;
}
.list_zayav div .inside{
    float: left;
    margin: 0;
    text-align: justify;
}
hr{
    border: none;
    border-top: 1px dotted #AEAFB1;
    border-collapse: collapse;
}
.list_zayav b{
    font-weight: bold;
}
.list_zayav .img{
    float: right;
}

.detail_text{
    font-size: 14px;
}